/*
!/.gitignore
!/README.md
!/AGENTS.md
!/CHANGELOG.md
!/install
!/settings.json
!/settings.subscription.json
!/global/
!/global/**
!/.landmark.yml
!/extensions/
!/extensions/**
!/bin/
!/bin/**
!/.githooks/
!/.githooks/**
!/.github/
!/.github/**
